@import "./variables";

header {
  
    li a {
    text-decoration: none;
    color: black;

    &:hover {
        color: $primary;
    }
  }

  li {
    margin: 0 1rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid transparent;

    &:hover {
        border-bottom: 4px solid $primary;
    }
  }
}